.sf-menu {
  margin-top:30px;
  border-top: 3px solid #E6E6E6;
  border-bottom: 3px solid #E6E6E6;
  height:58px;
  > li {
    &:first-child {
      background-repeat:none;
      border-right: 3px solid #E6E6E6;
      background-repeat:no-repeat;
      width:55px;
      a {
        @include replace-text('icon-home.png');
        width:55px;
        padding:20px 20px;
      }
    }
    a, .nolink { 
    padding: 20px;
    border-right: 3px solid #E6E6E6;
    display: block;
      &:hover, &:focus {
        background-color: #E6E6E6;
      }
    }
    .menuparent {
      background-image: url(../images/menu-arrow.png);
      padding: 20px 50px 20px 20px;
      background-repeat: no-repeat;
      background-position: right center;
      border-right: 3px solid #E6E6E6;
    }
    ul {
      position:absolute!important;
      width:430px!important;
      left:0px;
      margin-top: 17px;
      margin-left: -3px;
      background: #E6E6E6!important;
      li a {
        &:hover {
          background-color: #DCDCDC;
        }
      }
    }
  }
}